@import "./config.scss";
@import "./normalize.scss";
@import "./antd.scss";

.pull-left { float: left; }
.pull-right { float: right; }

::-webkit-scrollbar {
    width: 5px;
} 
::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,0.2);
}
::-webkit-scrollbar-track {
    border-radius: 0;
    background: rgba(255,255,255,0.5);
}

$mainColor: #0057FF;
$searchBackColor: #F5F5F5;
$inputPlaceholderColor: #707070;
$hoverBackColor: #F2F2F2;
$btnBorderColor: #e8e8e8;

body{
    background-color: #FFF;
    .amap-logo{
        display: none!important;
    }
    .amap-copyright{
        display: none!important;
    }
}